@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.spanBlock {
}

.span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    color: #0080FF;

}

.input {

}

.pen {
}